*{
    text-align: center;
    font-family: 'Verdana';
    box-sizing: border-box;
    color: white;
}

/* Spinner Styling */
@keyframes configure-clockwise {
    0% {
      transform: rotate(0);
    }
    25% {
      transform: rotate(90deg);
    }
    50% {
      transform: rotate(180deg);
    }
    75% {
      transform: rotate(270deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes configure-xclockwise {
    0% {
      transform: rotate(45deg);
    }
    25% {
      transform: rotate(-45deg);
    }
    50% {
      transform: rotate(-135deg);
    }
    75% {
      transform: rotate(-225deg);
    }
    100% {
      transform: rotate(-315deg);
    }
  }
  .spinner-box {
    margin-top: 150px;
  }
  /* X-ROTATING BOXES */
  
  .configure-border-1 {
    width: 115px;
    height: 115px;
    padding: 3px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: green;
    animation: configure-clockwise 3s ease-in-out 0s infinite alternate;
  }
  
  .configure-border-2 {
    width: 115px;
    height: 115px;
    padding: 3px;
    left: -115px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    transform: rotate(45deg);
    animation: configure-xclockwise 3s ease-in-out 0s infinite alternate;
  }
  
  .configure-core {
    width: 100%;
    height: 100%;
    background-color: #000;
  }  

/* Spinner Styling */



body {
    background-color: black;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

#logo {
    width: 200px;
    padding: 20px;
}
img {
    width: 100px;
}
 
.flip-card {
    background-color: transparent;
    margin: auto;
    width: 245px;
    height: 350px;
    perspective: 1000px; 
    cursor:pointer;
    /* box-shadow: inset 0px 0px 25px grey; */
  }
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
  
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
  
.flip-card-front {
    background-size: cover;
    background-position: center;
    background-color: #bbb;
    color: black;
}
  
.flip-card-back {
    font-size: 12px;
    padding: 5px;
    background-color: black;
    color: white;
    transform: rotateY(180deg);
}
  
.card-logo {
    width: 150px;
}

.results-grid {
    row-gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* grid-template-columns: auto auto auto auto auto; */
}

.search {
    border: 1px solid #333;
    padding: 15px;
    width: 400px;
    margin-bottom: 20px;
    background:#222;
    color:white;
}



