*{
    text-align: center;
    font-family: 'Verdana';
    box-sizing: border-box;
    color: white;
}

body {
    background-color: black;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

#logo {
    width: 200px;
    padding: 20px;
}
img {
    width: 100px;
}
 
.flip-card {
    background-color: transparent;
    margin: auto;
    width: 245px;
    height: 350px;
    perspective: 1000px; 
    cursor:pointer;
    /* box-shadow: inset 0px 0px 25px grey; */
  }
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
  
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
  
.flip-card-front {
    /* background-image: url("https://images.amcnetworks.com/amc.com/wp-content/uploads/2015/04/cast_bb_700x1000_walter-white-lg.jpg"); */
    background-size: cover;
    background-position: center;
    background-color: #bbb;
    color: black;
}
  
.flip-card-back {
    font-size: 12px;
    padding: 5px;
    background-color: black;
    color: white;
    transform: rotateY(180deg);
}
  
.card-logo {
    width: 150px;
}

.results-grid {
    row-gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly
    /* grid-template-columns: auto auto auto auto auto; */
}

.search {
    border: 1px solid #333;
    padding: 15px;
    width: 30%;
    margin-bottom: 20px;
    background:#222;
    color:white;
}